fastapi
uvicorn[standard]
aiofiles
rq
redis
pydantic-settings
prometheus-client
prometheus-fastapi-instrumentator
torch
diffusers
transformers
accelerate
Pillow
av
opencv-python
imageio 
imageio-ffmpeg